html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Consolas";
    font-size: 20px;
    background-color: #F5F5DC; /*бежевый*/
    }
table {
    background: #C5D0E6; /*Барвинок Крайола*/
    margin: 5;
    padding: 5;
    border-spacing: 0;
    width: 95%;
    text-align: left;
   }
   th {
    background: #C1CACA; /*серый*/
    color: #fff;
   }
   td, th {
    padding: 5px 10px;
    border: 1px solid #333;
   }